<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-bi-utils.ZPM">
    <Module>
      <Name>iris-bi-utils</Name>
      <Version>1.0.7</Version>
      <Description>Export/Import InterSystems Data Platform development artefacts</Description>
      <SourcesRoot>src</SourcesRoot>
      <Packaging>module</Packaging>
      <Resource Name="BIInstruments.PKG"/>
    </Module>
  </Document>
</Export>
